nav{
    background-color: #1F1D2B;
    display: flex;
    align-items: center;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: white;
}

.x-19{
    background-color: #1F1D2B;
    display: flex;
    align-items: center;
    padding: 10px;
}

.x-19 button{
    color: white;
    border: 1px solid white;
    background-color: #EA7C69;

}

.x-19 button::after ::before{
    box-sizing: border-box;
}

.Contenido a{
    text-decoration: none;
    color: white;
}

.navbar-brand{
    width: 20%;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.divicion2{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    font-size: 20px;
    padding-right: 40px;
}



